<% if !@errors.nil? %>
  <div class="error">
    <h2>Form is invalid</h2>
      <ul>
        <% @errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
    </ul>
  </div>
<% end %>


<h1 class="login">Login</h1> 

<%= form_tag "/login" %>

<h3 class="login">Email</h3>
<div class ="login-form"><input id="email" name="email" type="email" value="email@example.com" /> </div>

<h3 class="login">Password</h3>
<div class ="login-form"><input id="pass" name="pass" type="password" /> </div>
<div class ="login-form">
<button class="login-button" name="button" type="submit">Login</button>
</div>
