<h1>Sign Up!</h1>

<%= render 'form' %>

<%= link_to 'Back', pins_path %>
<!-- back to 'users_path' didn't make sense so redirecting back to main pins page -->
<!-- TO DO:  maybe redirect to the create a pin page...? -->